# Wege Inland

## 1. Import

### 1.1 Bib

In [1]:
import pandas as pd
from folium.plugins import HeatMap
import matplotlib.pyplot as plt

import geopandas as gpd
from shapely.geometry import LineString

import folium
from folium import PolyLine
from IPython.display import IFrame

from ipywidgets import interact

### 1.2 Data

In [2]:
# Datei einlesen
df_wege = pd.read_csv('/Users/orianagwerder/ANM_Gruppe_Y/Data/wege.csv', encoding='latin1', sep=';')

In [3]:
df_wege.head()

,HHNR,WP,AUSNR,WEGNR,DMOD,f51100,f51400,f51100time,f51400time,pseudo,...,w_luftlin,w_rdist,wmittel1,wmittel1a,wmittel2,wmittel2a,wzweck1,wzweck2,wzweck3,w_dist_obj2
0,110001,1.606924,1,1,2,555,565,9:15:00,9:25:00,1,...,0.333127,0.413,8,2,8,2,5.0,1,5,0.333127
1,110001,1.606924,1,2,2,575,580,9:35:00,9:40:00,1,...,0.863416,1.483,8,2,8,2,4.0,1,4,0.863416
2,110001,1.606924,1,3,2,610,620,10:10:00,10:20:00,1,...,1.123565,1.407,8,2,8,2,4.0,2,4,1.123565
3,110001,1.606924,2,4,2,750,760,12:30:00,12:40:00,1,...,2.167349,3.973,8,2,8,2,8.0,1,8,2.167349
4,110001,1.606924,2,5,2,810,825,13:30:00,13:45:00,1,...,3.127501,4.811,8,2,8,2,5.0,1,5,3.127501

In [4]:
df_wege.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151188 entries, 0 to 151187
Data columns (total 75 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   HHNR                 151188 non-null  int64
 1   WP                   151188 non-null  float64
 2   AUSNR                151188 non-null  int64
 3   WEGNR                151188 non-null  int64
 4   DMOD                 151188 non-null  int64
 5   f51100               151188 non-null  int64
 6   f51400               151188 non-null  int64
 7   f51100time           151188 non-null  object
 8   f51400time           151188 non-null  object
 9   pseudo               151188 non-null  int64
 10  S_X                  151188 non-null  float64
 11  S_Y                  151188 non-null  float64
 12  S_QAL                151188 non-null  int64
 13  S_BFS                151188 non-null  int64
 14  S_PLZ                151188 non-null  int64
 15  S_Ort                151181 non-null  object
 16  S_Str                146458 non-null  object
 17  S_hnr                138341 non-null  object
 18  S_SPRACHE            151188 non-null  int64
 19  S_REGION             151188 non-null  int64
 20  S_KANTON             151188 non-null  int64
 21  S_NUTS3              151139 non-null  object
 22  S_LND                151188 non-null  int64
 23  S_AGGLO2012          151188 non-null  int64
 24  S_AGGLO_GROESSE2012  151188 non-null  int64
 25  S_staedt_char_2012   151188 non-null  int64
 26  S_stat_stadt_2012    151188 non-null  int64
 27  S_stadt_land_2012    151188 non-null  int64
 28  S_DEGURBA            151188 non-null  int64
 29  Z_X                  151188 non-null  float64
 30  Z_Y                  151188 non-null  float64
 31  Z_QAL                151188 non-null  int64
 32  Z_BFS                151188 non-null  int64
 33  Z_PLZ                151188 non-null  int64
 34  Z_Ort                151173 non-null  object
 35  Z_Str                146747 non-null  object
 36  Z_hnr                138481 non-null  object
 37  Z_SPRACHE            151188 non-null  int64
 38  Z_REGION             151188 non-null  int64
 39  Z_KANTON             151188 non-null  int64
 40  Z_NUTS3              151155 non-null  object
 41  Z_LND                151188 non-null  int64
 42  Z_AGGLO2012          151188 non-null  int64
 43  Z_AGGLO_GROESSE2012  151188 non-null  int64
 44  Z_staedt_char_2012   151188 non-null  int64
 45  Z_stat_stadt_2012    151188 non-null  int64
 46  Z_stadt_land_2012    151188 non-null  int64
 47  Z_DEGURBA            151188 non-null  int64
 48  f51700_weg           151188 non-null  int64
 49  f51750               151188 non-null  int64
 50  f51800a              151188 non-null  int64
 51  f51800b              151188 non-null  int64
 52  f51800c              151188 non-null  int64
 53  f51850a              151188 non-null  int64
 54  f52000a              151188 non-null  int64
 55  f52000b              151188 non-null  int64
 56  f52000c              151188 non-null  int64
 57  f52000d              151188 non-null  int64
 58  f80700a              151188 non-null  int64
 59  f80700b              151188 non-null  int64
 60  f80700c              151188 non-null  int64
 61  f80800               151188 non-null  int64
 62  dauer1               151188 non-null  int64
 63  dauer2               151188 non-null  int64
 64  w_etappen            151188 non-null  int64
 65  w_luftlin            151188 non-null  float64
 66  w_rdist              151188 non-null  float64
 67  wmittel1             151188 non-null  int64
 68  wmittel1a            151188 non-null  int64
 69  wmittel2             151188 non-null  int64
 70  wmittel2a            151188 non-null  int64
 71  wzweck1              151186 non-null  float64
 72  wzweck2              151188 non-null  int64
 73  wzweck3              151188 non-null  int64
 74  w_dist_obj2          151188 non-null  float64
dtypes: float64(9), int64(56), object(10)
memory usage: 86.5+ MB

## 2. Clear Data

In [5]:
df_wege = df_wege.dropna()

In [6]:
df_wege.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127531 entries, 0 to 151187
Data columns (total 75 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   HHNR                 127531 non-null  int64
 1   WP                   127531 non-null  float64
 2   AUSNR                127531 non-null  int64
 3   WEGNR                127531 non-null  int64
 4   DMOD                 127531 non-null  int64
 5   f51100               127531 non-null  int64
 6   f51400               127531 non-null  int64
 7   f51100time           127531 non-null  object
 8   f51400time           127531 non-null  object
 9   pseudo               127531 non-null  int64
 10  S_X                  127531 non-null  float64
 11  S_Y                  127531 non-null  float64
 12  S_QAL                127531 non-null  int64
 13  S_BFS                127531 non-null  int64
 14  S_PLZ                127531 non-null  int64
 15  S_Ort                127531 non-null  object
 16  S_Str                127531 non-null  object
 17  S_hnr                127531 non-null  object
 18  S_SPRACHE            127531 non-null  int64
 19  S_REGION             127531 non-null  int64
 20  S_KANTON             127531 non-null  int64
 21  S_NUTS3              127531 non-null  object
 22  S_LND                127531 non-null  int64
 23  S_AGGLO2012          127531 non-null  int64
 24  S_AGGLO_GROESSE2012  127531 non-null  int64
 25  S_staedt_char_2012   127531 non-null  int64
 26  S_stat_stadt_2012    127531 non-null  int64
 27  S_stadt_land_2012    127531 non-null  int64
 28  S_DEGURBA            127531 non-null  int64
 29  Z_X                  127531 non-null  float64
 30  Z_Y                  127531 non-null  float64
 31  Z_QAL                127531 non-null  int64
 32  Z_BFS                127531 non-null  int64
 33  Z_PLZ                127531 non-null  int64
 34  Z_Ort                127531 non-null  object
 35  Z_Str                127531 non-null  object
 36  Z_hnr                127531 non-null  object
 37  Z_SPRACHE            127531 non-null  int64
 38  Z_REGION             127531 non-null  int64
 39  Z_KANTON             127531 non-null  int64
 40  Z_NUTS3              127531 non-null  object
 41  Z_LND                127531 non-null  int64
 42  Z_AGGLO2012          127531 non-null  int64
 43  Z_AGGLO_GROESSE2012  127531 non-null  int64
 44  Z_staedt_char_2012   127531 non-null  int64
 45  Z_stat_stadt_2012    127531 non-null  int64
 46  Z_stadt_land_2012    127531 non-null  int64
 47  Z_DEGURBA            127531 non-null  int64
 48  f51700_weg           127531 non-null  int64
 49  f51750               127531 non-null  int64
 50  f51800a              127531 non-null  int64
 51  f51800b              127531 non-null  int64
 52  f51800c              127531 non-null  int64
 53  f51850a              127531 non-null  int64
 54  f52000a              127531 non-null  int64
 55  f52000b              127531 non-null  int64
 56  f52000c              127531 non-null  int64
 57  f52000d              127531 non-null  int64
 58  f80700a              127531 non-null  int64
 59  f80700b              127531 non-null  int64
 60  f80700c              127531 non-null  int64
 61  f80800               127531 non-null  int64
 62  dauer1               127531 non-null  int64
 63  dauer2               127531 non-null  int64
 64  w_etappen            127531 non-null  int64
 65  w_luftlin            127531 non-null  float64
 66  w_rdist              127531 non-null  float64
 67  wmittel1             127531 non-null  int64
 68  wmittel1a            127531 non-null  int64
 69  wmittel2             127531 non-null  int64
 70  wmittel2a            127531 non-null  int64
 71  wzweck1              127531 non-null  float64
 72  wzweck2              127531 non-null  int64
 73  wzweck3              127531 non-null  int64
 74  w_dist_obj2          127531 non-null  float64
dtypes: float64(9), int64(56), object(10)
memory usage: 73.9+ MB

## 2. Visualisierung

In [7]:
# Funktion zum Erstellen der Karte mit Filter
def create_map(selected_kanton):
    # Filtern der Daten basierend auf dem ausgewÃ¤hlten Kanton im ursprÃ¼nglichen DataFrame
    filtered_df = df_wege[df_wege['S_KANTON'] == selected_kanton]
    
    # Routen erstellen und zÃ¤hlen
    filtered_df['route'] = list(zip(filtered_df['S_X'], filtered_df['S_Y'], filtered_df['Z_X'], filtered_df['Z_Y']))
    route_counts = filtered_df['route'].value_counts().reset_index()
    route_counts.columns = ['route', 'count']
    
    # Karte auf die Schweiz zentrieren und passenden Zoom setzen
    m = folium.Map(location=[46.8182, 8.2275], zoom_start=7)
    
    # Routen zur Karte hinzufÃ¼gen
    for _, row in route_counts.iterrows():
        route = row['route']
        count = row['count']
        start = (route[1], route[0])  # (Latitude, Longitude)
        end = (route[3], route[2])    # (Latitude, Longitude)
        
        # Linie hinzufÃ¼gen mit Dicke und Transparenz basierend auf der Anzahl der Vorkommen
        folium.PolyLine(
            locations=[start, end],
            weight=2 + (count ** 0.5),  # Wurzel fÃ¼r eine dynamische Gewichtung
            color='blue',
            opacity=0.3  # Transparenz erhÃ¶hen
        ).add_to(m)
    
    # Karte anzeigen
    return m

# Interaktive Auswahl fÃ¼r den Kanton
kantone = df_wege['S_KANTON'].unique()
interact(create_map, selected_kanton=kantone)

interactive(children=(Dropdown(description='selected_kanton', options=(22, 17, 2, 14, 11, 25, 7, 13, 12, 21, 1â€¦

In [8]:
# Route erstellen und zÃ¤hlen
df_wege['route'] = list(zip(df_wege['S_X'], df_wege['S_Y'], df_wege['Z_X'], df_wege['Z_Y']))
route_counts = df_wege['route'].value_counts().reset_index()
route_counts.columns = ['route', 'count']

# Ausgabe der hÃ¤ufigsten Routen
print("HÃ¤ufigkeit der einzelnen Routen:")
print(route_counts.head(10))  # Die Top-10-Routen anzeigen

# Alternativ den gesamten DataFrame anzeigen
route_counts_sorted = route_counts.sort_values(by='count', ascending=False)
route_counts_sorted.reset_index(drop=True, inplace=True)
print(route_counts_sorted)

HÃ¤ufigkeit der einzelnen Routen:
                                               route  count
0  (8.6502008747, 47.477272979, 8.6502008747, 47....     10
1  (7.4258466778, 47.199596107, 7.4258466778, 47....      9
2  (9.4265302431, 47.201367283, 9.4265302431, 47....      7
3  (6.8387239877, 46.461473384, 6.8387239877, 46....      6
4  (7.3095288616, 46.204865409, 7.3095288616, 46....      6
5  (8.5785685388, 47.734966098, 8.5785685388, 47....      6
6  (6.8213320101, 47.099326918, 6.8213320101, 47....      6
7  (9.0431366378, 47.461371192, 9.0431366378, 47....      6
8  (9.3524912492, 47.548868457, 9.3524912492, 47....      6
9  (7.159775895, 47.105349282, 7.159775895, 47.10...      6
                                                    route  count
0       (8.6502008747, 47.477272979, 8.6502008747, 47....     10
1       (7.4258466778, 47.199596107, 7.4258466778, 47....      9
2       (9.4265302431, 47.201367283, 9.4265302431, 47....      7
3       (7.159775895, 47.105349282, 7.159775895, 47.10...      6
4       (6.8387239877, 46.461473384, 6.8387239877, 46....      6
...                                                   ...    ...
117268  (7.1089262023, 46.822935815, 7.0556418667, 46....      1
117269  (7.1322400998, 46.81922567, 7.1089262023, 46.8...      1
117270  (7.1531074196, 46.799156149, 7.1322400998, 46....      1
117271  (7.1322400998, 46.81922567, 7.1531074196, 46.7...      1
117272  (8.2091778338, 47.482119462, 8.2005702803, 47....      1

[117273 rows x 2 columns]

In [9]:
# HÃ¶chster Wert der Nutzung (maximale Anzahl der Routen-Nutzung)
max_count = route_counts['count'].max()

# Ausgabe des hÃ¶chsten Wertes und der zugehÃ¶rigen Route(n)
most_frequent_routes = route_counts[route_counts['count'] == max_count]

print("HÃ¶chste NutzungshÃ¤ufigkeit fÃ¼r eine Route:", max_count)
print("Routen mit dieser HÃ¤ufigkeit:")
print(most_frequent_routes)

HÃ¶chste NutzungshÃ¤ufigkeit fÃ¼r eine Route: 10
Routen mit dieser HÃ¤ufigkeit:
                                               route  count
0  (8.6502008747, 47.477272979, 8.6502008747, 47....     10